{% include "header.html" %}
<body class="is-loading">
<!-- Wrapper -->
<div id="wrapper">
	<!--Navbar Header -->
<header class="site-header">
  <div class="wrapper site-header__wrapper">
{% include "navbar.html" %}
	</div>
</header>
    <!-- Main -->
<section id="main">
       <!-- Page Header -->
      <header>
							<h1 class="title">About me</h1>
							<hr/><p class="self-intro">Hello! I am Olga Chichmareva <br>
                -  a committed self-taught junior Python Developer.</p>
						</header>


<div class="container" id="about_container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <h2>What I can do</h2>
            <p class="about_intro">My main interest lies in Python, AI and Machine Learning. I am also planning to study cybersecurity
                which is going to see more growth than any other tech sphere in the future.
            </p>
            <br>

            <h2>Technical Skills</h2>
            <p class="about_intro">Python, HTML, CSS, Bootstrap, Flask Framework.
            </p>
            <p class="about_intro">Currently learning: AI and Machine Learning.
            </p>
            <br>

            <h2>Soft Skills and Background</h2>
            <p class="about_intro">I obtained Master's & PhD in Japanese language and culture at <a href="https://www.osaka-u.ac.jp/en">Osaka University (Japan)</a>
                <br>
                and worked in Japanese enterprises in Russia as a business assistant, translator and interpreter up to 2020. Currently, I am teaching Japanese & English as a private tutor.
            </p>
            <br>

            <h2>Hobbies</h2>
            <div id="hobbies">
                <ul >
                    <li><i class="fa-solid fa-masks-theater"></i><a href="https://facebook.com/olga.chichmareva"> Going to the theater</a></li>
                    <li><i class="fa-solid fa-torii-gate"></i><a href="https://www.youtube.com/watch?v=OBG-xp1e-90"> Guiding tourists</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<footer>
								<ul class="icons">
								    <li><a href="https://www.linkedin.com/in/olga-chichmareva-138007141" class="fa-linkedin-in"></a></li>
								    <li><a href="https://youtu.be/OBG-xp1e-90" class="fa-youtube"></a></li>
								    <li><a href="https://github.com/visota2000" class="fa-github"></a></li>
							    </ul>
</footer>
</section>
    <!--Footer-->
    {% include "footer.html" %}