{% include "header.html" %}
<body class="is-loading">
<!-- Wrapper -->
<div id="wrapper">
	<!--Navbar Header -->
<header class="site-header">
  <div class="wrapper site-header__wrapper">
{% include "navbar.html" %}
	</div>
</header>
				<!-- Main -->
					<section id="main">
						<!-- Page Header -->
						<header>
							<span class="avatar"><img src="static/images/circled_foto_2.png" alt="" /></span>

							<div class="stack" style="--stacks: 3;">
								<h1 style="--index: 0;">Olga Chichmareva</h1>
								<h1 style="--index: 1;">Olga Chichmareva</h1>
								<h1 style="--index: 2;">Olga Chichmareva</h1>
							</div>


							<p class="self-intro">A programmer<br>
								&<br>
								Japanese language teacher
							</p>
						</header>

						<footer>
								<ul class="icons">
								<li><a href="https://www.linkedin.com/in/olga-chichmareva-138007141" class="fa-linkedin-in"> LinkedIn</a></li>
								<li><a href="https://youtu.be/OBG-xp1e-90" class="fa-youtube"> Youtube</a></li>
								<li><a href="https://github.com/visota2000" class="fa-github"> GitHub</a></li>
							</ul>
						</footer>
					</section>
<!--Footer-->
    {% include "footer.html" %}