{% include "header.html" %}
<body class="is-loading">
<!-- Wrapper -->
<div id="wrapper">
	<!--Navbar Header -->
<header class="site-header">
  <div class="wrapper site-header__wrapper">
{% include "navbar.html" %}
	</div>
</header>
				<!-- Main -->
					<section id="main">
						<!-- Page Header -->
						<header>
							<h1 class="title">My Work</h1>


<div class="container main">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
			<a class="project"  href="https://blog-by-ballet-russian-language-course.onrender.com" target="_blank">Russian Language online course　<br/> for Japanese Ballet Dancers</a>
				<h3>「バレエを学ぶ人のためのロシア語講座」のブロッグ</h3>
			<p class="stack-project">Blog project with users: Flask | Bootstrap | Postgres | SQLAlchemy | Jinja | WTForms | Gunicorn |
                Render</p>
		</div>
	</div>
</div>
							</header>

						<footer>
								<ul class="icons">
								<li><a href="https://www.linkedin.com/in/olga-chichmareva-138007141" class="fa-linkedin-in"> LinkedIn</a></li>
								<li><a href="https://youtu.be/OBG-xp1e-90" class="fa-youtube"> Youtube</a></li>
								<li><a href="https://github.com/visota2000" class="fa-github"> GitHub</a></li>
							</ul>
						</footer>
					</section>
<!--Footer-->
    {% include "footer.html" %}